{% extends 'base/base.html' %}

{% block title %}Home{% endblock %}

{% load static %}

{% block content %}

<script src="{% static 'anon_website/js/common.js' %}"></script> 
<script src="{% static 'anon_website/js/try.js' %}"></script> 
<div id="token" style="display: none;">
    {{ api_token }}
</div>

<form action="{% url 'anon_website:try' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
</form>

<button id="try_button" class="btn btn-success" onclick="try_post_request()" >Go!</button>


{% endblock %}