.popup {
  display: none; /* Hide the popup by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

.popup-content {
  background-color: #fff;
  margin: 20% auto; /* Center the popup vertically */
  padding: 20px;
  width: 80%;
  max-width: 400px;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: #000;
}

.overlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* top: 0; */
    padding: 10px;
    left: 20%;
    width: 60%;
    border: 1px solid #ccc;
    color: #111;
    z-index: 9999;
  }
  
  .overlay-debug {
    background-color: #fff;
  }
  
  .overlay-info {
    background-color: #57676f;
  }
  
  .overlay-success {
    background-color: #5e8d25;
  }
  
  .overlay-warning {
    background-color: #f4c22b;
  }
  
  .overlay-error {
    background-color: #e06c75;
  }
  
  .message_close:hover {
    cursor: pointer;
  }